<body class="bg-gray-200 h-screen flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h2 class="text-2xl font-semibold mb-4">Login</h2>
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input  type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder=".....">
                <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must have at least 6 Characters</mat-error>
            </mat-form-field>
            <div class="flex items-center justify-between mb-4">
                <label for="remember" class="flex items-center">
                    <input type="checkbox" id="remember" name="remember"
                        class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                    <span class="ml-2 text-gray-600">Remember me</span>
                </label>
                <a href="#" class="text-sm text-indigo-600 hover:text-indigo-800">Forgot your password?</a>
            </div>
            <button type="submit" [disabled]="loginForm.invalid"
                class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 text-white rounded-md focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50">Login</button>
        </form>
        <p class="text-sm mt-6 text-gray-600">Don't have an account? <a routerLink='/auth/signup'
                class="text-indigo-600">Sign up</a></p>
    </div>
</body>